.card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--p-color);
    color: var(--text-color);
    font-weight: bold;
    max-width: calc(100% - var(--max-width));
    margin-top: 0px;
    position: relative;
    box-shadow: var(--box-decoration--shadow);
    transition: max-width linear 300ms;
}
.loading {
    margin: 0!important;
}

.expanded {
    max-width: 100%;
}
.fullscreen {
    height: 100vh;
    z-index: 99;
    position: fixed;
    max-width: 100%;
}
.card header {
    height: 32px;
    background: var(--secondary-color);
    border-bottom: 1px solid var(--bg-color);
    font-weight: var(--font-weight--lighter);
}
.card header * {
    line-height: 32px;
}
.expand {
    transform-origin: center;
    transform: rotate(90deg);
    border-left: none!important;
    border-bottom: 1px solid var(--bg-color);
}
.cardTitle {
    padding: 0 var(--padding--m);
    color: var(--highlight-color);
}
.iconContainer {
    position: relative;
}
.downloadWrapper {
    position: absolute;
    top: 32px;
    left: 0;
    background: var(--third-color);
    z-index: 3;
    border: 1px solid var(--bg-color);
    box-shadow: var(--box-decoration--shadow);
}
.card header em:not(.AppLoading) {
    cursor: pointer;
    padding: 0 var(--padding--xs);
    font-size: var(--font-size--l);
    border-left: 1px solid var(--bg-color)
}
.card em:hover {
    color: var(--highlight-color);
}
.cardQuery {
    max-width: calc(100% - 40px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
.cardQuery:hover {
    color: var(--highlight-color);
}

.cardBody {
    height: calc(100% - var(--padding--l));
}

.summary {
    padding: var(--padding--m);
    width: 150px;
    overflow: scroll;
    transition: all ease-in-out 200ms;
}
.summaryWidder {
    width: 200px;
}
.dragger {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: var(--padding--s) *  -1;
    cursor: ns-resize;
}
