.summary {
    margin-bottom: 8px;
    font-weight: lighter;
    overflow-y: scroll;
}
.summary span{
    margin-right: 8px;
}
.circle {
    width: 5px;
    height: 5px;
    border-radius: 100%;
}

.properties {
    padding-top: 12px;
    margin-top: 8px;
    overflow: hidden;
    max-width: 100%;
}
.chip {
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 12px;
}
.property {
    max-width: 100%;
    margin-bottom: 8px;
}
.property span {
    font-weight: lighter;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
