.themeToggler {
    width: 28px;
    margin: 0 var(--padding--xs);
    border-radius: 14px;
    background: #7d7c7c;
    height: 15px;
    position: relative;
    cursor: pointer;
}
.circle {
    width: 13px;
    height: 13px;
    background: silver;
    position: absolute;
    left: 1px;
    border-radius: 100%;
    transition: all ease-in 300ms;
}
.active {
    background: #0e70a0;
}
.active .circle {
    left: 13px;
}
