.header {
    width: calc(100% - var(--padding--xl));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    padding: var(--padding--m);
}
.menu {
    color: var(--text-color);
    cursor: pointer;
    margin-right: var(--padding--s);
    font-size: var(--font-size--big-icon);
}
.menu:hover, .menuActive {
    color: var(--highlight-color);
}
.name {
    font-weight: bold;
}
.icon {
    color: var(--highlight-color);
    font-size: var(--font-size--xxl);
}
.name span {
    margin-left: var(--padding--xs);
}
.userContainer span {
    color: var(--highlight-color);
}
.themeChanger {
    margin-right: var(--padding--m);
}
.darkIcon {
    color: var(--theme-icon--dark);
    font-size: var(--font-size--m);
}
.lightIcon {
    color: var(--theme-icon--light);
    font-size: var(--font-size--m);
}
.link {
    margin-left: var(--padding--xs);
    cursor: pointer;
}
.link:hover {
    color: var(--highlight-color);
}
