.header {
    width: calc(100% - 96px);
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--padding--m) var(--padding--xl);
}
.name {
    font-weight: bold;
}
.name em {
    color: var(--highlight-color);
    font-size: var(--font-size--xxl);
}
.name span {
    margin-left: var(--padding--xs);
}
.userContainer span {
    color: var(--highlight-color);
}
.themeChanger {
    margin-right: var(--padding--m);
}
.darkIcon {
    color: var(--theme-icon--dark);
    font-size: var(--font-size--m);
}
.lightIcon {
    color: var(--theme-icon--light);
    font-size: var(--font-size--m);
}
.link {
    margin-left: var(--padding--xs);
    cursor: pointer;
}
.link:hover {
    color: var(--highlight-color);
}
