.header {
    width: calc(100% - 96px);
    position: fixed;
    top: 0;
    left: 0;
    padding: 24px 48px;
}
.name {
    font-weight: bold;
}
.name em {
    color: #f76d09;
    font-size: 18px;
}
.name span {
    margin-left: 8px;
}
.userContainer span {
    color: #f76d09;
}
.themeChanger {
    margin-right: 24px;
}
.darkIcon {
    color: var(--theme-icon--dark);
    font-size: 13px;
}
.lightIcon {
    color: var(--theme-icon--light);
    font-size: 13px;
}
.link {
    margin-left: 8px;
    cursor: pointer;
}
.link:hover {
    color: #f76d09;
}
