.App {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.AppLoading {
    font-size: var(--font-size--xxxl)!important;
    color: var(--highlight-color);
    animation: loading infinite 1500ms;
}
@keyframes loading {
    0% {
        opacity: .5
    }
    50% {
        opacity: .9
    }
    100% {
        opacity: .5
    }
}
.AppContainer {
    width: 100%;
}
.hideScroll {
    margin-right: calc(var(--padding--m) * -1);
    padding-right: var(--padding--m);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
.disabled {
    opacity: .4;
    cursor: default!important;
}
.disabled:hover {
    color: var(--text-color)!important;
}
