.App {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.AppLoading {
    font-size: 140px!important;
    color: var(--highlight-color);
    animation: loading infinite 1500ms;
}
@keyframes loading {
    0% {
        opacity: .5
    }
    50% {
        opacity: .9
    }
    100% {
        opacity: .5
    }
}
.AppContainer {
    width: 100%;
}
.theme-toggler {
    width: 28px;
    margin: 0 8px;
    border-radius: 14px;
    background: #7d7c7c;
    height: 15px;
    position: relative;
    cursor: pointer;
}
.theme-toggler__circle {
    width: 13px;
    height: 13px;
    background: silver;
    position: absolute;
    left: 1px;
    border-radius: 100%;
    transition: all ease-in 300ms;
}
.theme-toggler.active {
    background: #0e70a0;
}
.theme-toggler.active .theme-toggler__circle {
    left: 13px;
}
h3 {
    font-weight: 600;
    margin-top: 0;
}
