.comanderContainer {
    height: calc(100vh - var(--padding--xxxl));
    margin-top: var(--padding--xxxl);
    width: 100%;
    position: relative;
}
.input {
    outline: none;
    border: none;
    font-size: var(--font--l);
    padding: var(--padding--s);
    width: calc(100% - 142px);
}
.input .CodeMirror {
    height: 20px;
}
.inputContainer {
    background: var(--p-color);
    margin: 0 var(--margin);
    /* transition: all linear 300ms; */
    box-shadow: var(--box-decoration--shadow);
}
.inputContainer em {
    font-size: 35px;
    margin: 0 var(--padding--xs);
    cursor: pointer;
}
.inputContainer em:hover  {
    color: var(--highlight-color);
}
.activeIcon  {
    color: var(--highlight-color);
}
.list {
    border-radius: 4px;
    overflow: hidden;
    background: var(--third-color);
    margin: 0 var(--margin);
    margin-top: -2px;
    padding: 0;
    box-shadow: var(--box-decoration--shadow);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    max-height: 0px;
    position: relative;
    transition: all ease-in-out 200ms;
}
.listActive {
    max-height: 200px;
}
.list ul {
    max-height: calc(100% - 40px);
    width: calc(100% + var(--padding-m));
    overflow: scroll;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 3;
}
.listTitle {
    padding: 0 var(--padding--m);
    line-height: 40px;
    display: block;
}
.list li {
    list-style: none;
    cursor: pointer;
    margin: 0;
    padding: var(--padding--xs) var(--padding--m);
    cursor: pointer;
    transition: all ease-in-out 100ms;
}
.list li:hover {
    background: var(--highlight-secondary);
}
.suggestionActive {
    background: var(--hightlight--secondary);
}
.list li:first-of-type {
    margin-top: 0;
}
.list li .CodeMirror-lines {
    cursor: inherit;
}
